.header{
    padding: 20px 0;
    top: 0;
	right: 0;
	left: 0;
    background-color: #191919;  
    position: sticky;
    z-index: 1;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bar{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 20px;
    opacity: 0;
}

.media{
    display: flex;
    justify-content: space-between;
    width: 180px;
    color: #fff;
    margin-right: 50px;
}

.media a{
    color:#fff;
    transition: 0.3s;
}

.media a:hover{
    color: #ca2c00;
}