.plan{
    padding-top: 100px;
    padding-bottom: 100px;
}

.plan_inner{
    text-align: center;
}

.plan_inner h1{
    font-size: 48px;
    font-weight: 600;  
}

.plan_object{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.plan_item{
    width: calc(85%/4);
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.plan_item h1{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.plan_item h2{
    font-size: 48px;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.plan_item h3{
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.plan_item hr{
    margin-bottom: 25px;
    width: 200px;
    color: #9b9b9b;
    background-color: #9b9b9b;
}

.plan_item p{
    margin-bottom: 20px;
    font-size: 15px;
    color: #9b9b9b;
}

.plan_item span{
    color: #000;
}

.plan_btn{
    margin: 50px 0 ;
}

.plan_btn a{
    background-color: transparent;
    padding: 15px 70px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #ff4514;
    text-transform: uppercase;
    color: #000;
    transition: 0.3s;
}

.plan_btn a:hover{
    color: #fff;
    background-color: #ca0000;
    border-color: #ca0000;
}

.plan_btn a:active{
    color: #fff;
    background-color: #ff4514;
    border-color: #ff4514;
}